{% extends 'main/base.html' %}
{% block content %}
	<div id='title'><h3>Details</h3>
	</div>
	<div class='card bg-info'>
		<h5 class="card-header" style="text-align: center;">{{faculty_name.Name}}</h5>
		<ul class="list-group list-group-flush">
		    <li class="list-group-item"><b>Subject :</b> {{faculty_name.Subject}}</li>
		    <li class="list-group-item"><b>Contact :</b> {{faculty_name.Contact}}</li>
		    <li class="list-group-item"><b>Email :</b> {{faculty_name.Email}}</li>
  		</ul>
		
	</div>
{% endblock %}