{% extends 'main/base.html' %}
{% block content %}
	<div id='title'><h3>Finance</h3>
	</div>

	<div class='card bg-info' style="filter: drop-shadow(0 0 6px grey);">
		<h5 class="card-header" style="text-align: center;"> Tution Fee </h5>
	</div>

	<br>

	<div class = "button_css">
	<div class="btn-group" style="box-shadow: 0 0 4px grey;">
	  <button type="button" class="btn btn-outline-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    Class
	  </button>
	  <div class="dropdown-menu">
	  	{% for i,j in classes %}
	    <a class="dropdown-item" href="{% url 'finance_detail' i %}">{{ j }}</a>
	    <div class="dropdown-divider"></div>
	    {% endfor %}
	  </div>
	</div>
	</div>

	<br>

	<div class='card bg-info' style="filter: drop-shadow(0 0 6px grey);">
		<h5 class="card-header" style="text-align: center;"> Payment </h5>
	</div>

	<br>
	<div class = "button_css">
	<div class="btn-group" style="box-shadow: 0 0 4px grey;">
	  <button type="button" class="btn btn-outline-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    Pay To
	  </button>
	  <div class="dropdown-menu">
	    <a class="dropdown-item" href="{% url 'teacher_finance' %}">Teachers</a>
	    <div class="dropdown-divider"></div>
	    <a class="dropdown-item" href="{% url 'staff_finance' %}">Staff</a>
	  </div>
	</div>
	</div>

	<br>

	<div class='card bg-info'style="filter: drop-shadow(0 0 6px grey);">
		<h5 class="card-header" style="text-align: center;"> Others </h5>
	</div>

	<br>
	<div class = "button_css">
	<div class="btn-group" style="box-shadow: 0 0 4px grey;">
	  <button type="button" class="btn btn-outline-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    Options
	  </button>
	  <div class="dropdown-menu">
	    <a class="dropdown-item" href="#">Electricity</a>
	    <div class="dropdown-divider"></div>
	    <a class="dropdown-item" href="#">Fuel</a>
	  </div>
	</div>
	</div>


{% endblock %}