{% extends 'main/base.html' %}
{% block content %}
<div id='title'><h3>School Management System</h3></div>

<div class='row'>

  <div class='col-md-4' style="padding-top: 40px; filter: drop-shadow(0 0 9px grey);">
    <div class="card text-white bg-info mb-3" style="max-width: 18rem; margin: 0 auto;">
      <div class="card-header" style="text-align: center; font-size: 35px; font-family: 'Squada One', cursive;">STUDENT</div>
        <div class="card-body">
       <!--  <h5 class="card-title">Info card title</h5> -->
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <div style="text-align: center;"><a href="#" class="card-link" style="color: inherit; font-size: 18px; ">VISIT</a></div>
        </div>
    </div>
  </div>

  <div class='col-md-4' style="padding-top: 40px; filter: drop-shadow(0 0 9px grey);">
    <div class="card text-white bg-info mb-3" style="max-width: 18rem; margin: 0 auto;">
      <div class="card-header" style="text-align: center; font-size: 35px; font-family: 'Squada One', cursive;">FACULTY</div>
        <div class="card-body">
       <!--  <h5 class="card-title">Info card title</h5> -->
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <div style="text-align: center;"><a href="#" class="card-link" style="color: inherit; font-size: 18px; ">VISIT</a></div>
        </div>
    </div>
  </div>

  <div class='col-md-4' style="padding-top: 40px; filter: drop-shadow(0 0 9px grey);">
    <div class="card text-white bg-info mb-3" style="max-width: 18rem; margin: 0 auto;">
      <div class="card-header" style="text-align: center; font-size: 35px; font-family: 'Squada One', cursive;">STAFF</div>
        <div class="card-body">
       <!--  <h5 class="card-title">Info card title</h5> -->
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <div style="text-align: center;"><a href="#" class="card-link" style="color: inherit; font-size: 18px; ">VISIT</a></div>
        </div>
    </div>
  </div>

  <div class='col-md-4' style="padding-top: 40px; filter: drop-shadow(0 0 9px grey);">
    <div class="card text-white bg-info mb-3" style="max-width: 18rem; margin: 0 auto;">
      <div class="card-header" style="text-align: center; font-size: 35px; font-family: 'Squada One', cursive;">FINANCE</div>
        <div class="card-body">
       <!--  <h5 class="card-title">Info card title</h5> -->
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <div style="text-align: center;"><a href="#" class="card-link" style="color: inherit; font-size: 18px; ">VISIT</a></div>
        </div>
    </div>
  </div>

  <div class='col-md-4' style="padding-top: 40px; filter: drop-shadow(0 0 9px grey);">
    <div class="card text-white bg-info mb-3" style="max-width: 18rem; margin: 0 auto;">
      <div class="card-header" style="text-align: center; font-size: 35px; font-family: 'Squada One', cursive;">ADMIN</div>
        <div class="card-body">
       <!--  <h5 class="card-title">Info card title</h5> -->
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <div style="text-align: center;"><a href="#" class="card-link" style="color: inherit; font-size: 18px; ">VISIT</a></div>
        </div>
    </div>
  </div>

</div>
{% endblock %}