{% extends 'main/base.html' %}
{% block content %}
	<p style="text-align: center;">Details</p>
	<div class='card'>
		<h5 class="card-header" style="text-align: center;">{{staff_name.Name}}</h5>
		<ul class="list-group list-group-flush">
		    <li class="list-group-item">Role : {{staff_name.Role}}</li>
		    <li class="list-group-item">Contact : {{staff_name.Contact_Number}}</li>
		    <li class="list-group-item">Paid Till : {{staff_name.Payment.Paid_Till}}</li>
		    <li class="list-group-item">Joined : {{staff_name.Payment.Joined}}</li>
  		</ul>
		
	</div>
{% endblock %}