{% extends 'main/base.html' %}
{% block content %}
	<p style="text-align: center;">Staff Finance Details</p>
	<form class="form-inline my-2 my-lg-0">
	    <input class="form-control mr-sm-2" type="search" placeholder="Search by Name" aria-label="Search">
	    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	</form>
	{% for staff in staff_name %}
		<div class='card'>
			<h5 class="card-header" style="text-align: center;">{{staff.Name}}</h5>
			<ul class="list-group list-group-flush">
			    <li class="list-group-item">Role : {{staff.Role}}</li>
			    <li class="list-group-item">Contact : {{staff.Contact_Number}}</li>
			    <li class="list-group-item">Paid Till : {{staff.Payment.Paid_Till}}</li>
	  		</ul>
			
		</div>
		<br>

	{% endfor %}
{% endblock %}